<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="end center">
      <form
        [formGroup]="form"
        fxLayout="row wrap"
        fxLayoutGap="20px"
        fxLayoutAlign="end baseline">
        <div
          fxFlex="100%"
          fxFlex.gt-sm="1 1 auto"
          fxLayout="row"
          fxLayoutAlign="center center"
          class="m2"
          *ngIf="loading">
          <mat-spinner diameter="20"></mat-spinner>
        </div>
        <mat-form-field appearance="outline" fxFlex="1 1 auto">
          <mat-label>Periodicidad</mat-label>
          <mat-select formControlName="periodicity">
            <mat-option value="diary"> Diario </mat-option>
            <mat-option value="monthly"> Mensual </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="1 1 auto">
          <mat-label>Desde</mat-label>
          <input
            matInput
            readonly
            (click)="picker.open()"
            color="primary"
            class="pointer"
            [matDatepicker]="picker"
            formControlName="start" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="1 1 auto">
          <mat-label>Hasta</mat-label>
          <input
            matInput
            readonly
            [min]="form.get('start').value"
            (click)="picker2.open()"
            color="primary"
            class="pointer"
            [matDatepicker]="picker2"
            formControlName="end" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <button
          fxFlex="100%"
          fxFlex.gt-sm="5%"
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
          (click)="getAnalitycs()">
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>
  </mat-card-content>
</mat-card>

<div
  fxLayout="row"
  fxLayoutAlign="center center"
  class="mt4"
  *ngIf="!isSearched">
  <span class="center"
    >Por favor rellene los campos para hacer una busqueda.</span
  >
</div>
<div *ngIf="!loading && isSearched" fxLayout="column" class="analytics">
  <div class="indicators">
    <mat-card @fadeUp>
      <mat-card-content fxLayout="row" fxLayoutAlign="center center">
        <apx-chart
          *ngIf="chartOptions3"
          [series]="chartOptions3.series"
          [chart]="chartOptions3.chart"
          [labels]="chartOptions3.labels"
          [fill]="chartOptions3.fill"
          [colors]="chartOptions3.fill.colors"
          [responsive]="chartOptions3.responsive"></apx-chart>
      </mat-card-content>
    </mat-card>

    <mat-card fxLayout="row" @fadeUp>
      <mat-card-content
        fxFlex="100%"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
        <span class="mat-display-2">
          {{ entryMinusExpense | customCurrency }}
        </span>
        <span
          class="subheading-2"
          [class.text-entry]="entryMinusExpense > 0"
          [class.text-expense]="entryMinusExpense < 0">
          Utilidad
        </span>
      </mat-card-content>
    </mat-card>

    <mat-card fxLayout="row" @fadeUp>
      <mat-card-content
        fxFlex="100%"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
        <span class="mat-display-2">
          {{ entry | customCurrency }}
        </span>
        <span class="subheading-2 text-entry"> Total Ingresos </span>
      </mat-card-content>
    </mat-card>

    <mat-card fxLayout="row" @fadeUp>
      <mat-card-content
        fxFlex="100%"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
        <span class="mat-display-2">
          {{ expense | customCurrency }}
        </span>
        <span class="subheading-2 text-expense"> Total Egresos </span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="graphs">
    <mat-card @fadeUp>
      <mat-card-content class="p2">
        <div id="chart-bar" *ngIf="chartOptions2">
          <apx-chart
            [series]="chartOptions2.series"
            [chart]="chartOptions2.chart"
            [dataLabels]="chartOptions2.dataLabels"
            [plotOptions]="chartOptions2.plotOptions"
            [xaxis]="chartOptions2.xaxis"
            [stroke]="chartOptions2.stroke"
            [colors]="chartOptions.colors"></apx-chart>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card @fadeUp>
      <mat-card-content class="p2">
        <div id="chart" *ngIf="chartOptions">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis"
            [dataLabels]="chartOptions.dataLabels"
            [grid]="chartOptions.grid"
            [stroke]="chartOptions.stroke"
            [colors]="chartOptions.colors"
            [markers]="chartOptions.markers"></apx-chart>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
