@import 'sam.theme.scss';
@import "./vars.scss";
@import "./modules/modules.scss";
@import "./media.query.scss";

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none !important;
}

body {
  background-color: $background !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  border-radius: .25em !important;
  box-shadow: $box-shadow;
}

.reset {
  margin: 0px;
  padding: 0px;
}

.pointer {
  cursor: pointer !important;
}

.text-secondary {
  color: $text-secondary !important;
}

button {
  &.height {
    min-height: 40px !important;
  }

  mat-spinner {
    margin: 5px;
  }
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, .6);
}

.pages__content {
  margin-top: 30px;
  margin-bottom: 30px;
}

mat-footer-row,
mat-header-row,
mat-row,
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border-bottom-color: $background-divider !important;
}


mat-divider {
  .mat-divider-vertical {
    border-right-color: $background-divider !important;
  }

  border-top-color: $background-divider !important;

}

mat-dialog-container {
  padding: 0px !important;
}
