$mediaPadding: 0px 12% 0px 12%;

@media (min-width: 1201px) {
  .toolbar {
    padding: $mediaPadding !important;
  }

  .hideMax1280 {
    display: none !important;
  }

  .pages__content {
    padding: $mediaPadding !important;
  }

}

@media (max-width: 1200px) {

  .hideMinus1280 {
    display: none !important;
  }
}
