$entry: #44ad00;
$expense: #c51162;

.text-entry {
  color: $entry;
}

.text-expense {
  color: $expense;
}

.mat-entry {
  background-color: $entry !important;
  color: white !important;
}

.mat-expense {
  background-color: $expense !important;
  color: white !important;
}
