<div class="dialog transactions">
  <div class="dialog__header">
    <div class="dialog__header__title">
      <h1 mat-dialog-title *ngIf="data.action === 'update'">
        Actualizar Transacción
      </h1>
      <h1 mat-dialog-title *ngIf="data.action === 'create'">
        Nueva Transacción
      </h1>
    </div>
    <div class="dialog__header__actions">
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div mat-dialog-content>
    <form fxLayout="row wrap" fxFlex="100%" [formGroup]="form">
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Seleccionar Fecha</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          readonly
          (click)="picker.open()" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Seleccionar Tipo</mat-label>
        <mat-select formControlName="type">
          <mat-option value="entry"> {{ translate('Entry') }}</mat-option>
          <mat-option value="expense"> {{ translate('Expense') }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label> {{ translate('Mount') }} </mat-label>
        <input matInput currencyMask formControlName="mount" />
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label> {{ translate('Description') }} </mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <div
        fxFlex="100%"
        fxLayout="row"
        fxLayoutAlign="end center"
        *ngIf="data.action === 'create' || data.action === 'update'">
        <button
          mat-raised-button
          class="flat"
          color="primary"
          *ngIf="data.action === 'create'"
          (click)="create()"
          [disabled]="form.invalid || (loading | async)">
          <div fxLayout="flex" fxFlex="100%" fxLayoutAlign="center center">
            <span> Crear Transacción </span>
            <mat-spinner *ngIf="loading | async" diameter="20"></mat-spinner>
          </div>
        </button>
        <button
          mat-raised-button
          class="flat"
          color="primary"
          *ngIf="data.action === 'update'"
          (click)="update()"
          [disabled]="form.invalid || (loading | async)">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <span>Actualizar Transacción </span>
            <mat-spinner *ngIf="loading | async" diameter="20"></mat-spinner>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
