<div class="auth" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxLayout="column" class="auth__card">
    <div fxLayout="column" fxLayoutAlign="center center" class="auth__card__header">
      <span class=" title mat-display-3">
        {{DICTIONARY.APP.NAME}}
      </span>
      <span class="subtitle ">
        {{DICTIONARY.AUTH.PHRASE}}
      </span>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" class="auth__card__form">
      <mat-card-content fxLayout="column" fxFlex="100%">
        <mat-form-field appearance="fill">
          <mat-label>
            {{DICTIONARY.FORMS.EMAIL}}
          </mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="form.get('email').hasError('email')">
            Correo electrónico invalido
          </mat-error>
          <mat-error *ngIf="form.get('email').hasError('required')">
            El campo es obligatorio
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            {{DICTIONARY.FORMS.PASSWORD}}
          </mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('email').hasError('required')">
            El campo es obligatorio
          </mat-error>
        </mat-form-field>
        <div fxLayout="column" class="mt-1">
          <div fxLayout="row" fxFlex="100%">
            <button class="height" mat-flat-button [disabled]="form.invalid || (loading | async)" color="primary"
              fxFlex="100%" fxLayoutAlign="center center">
              <span *ngIf="!(loading | async)">Ingresar</span>
              <mat-spinner *ngIf="loading | async" color="primary" diameter="25"></mat-spinner>
            </button>
          </div>

        </div>
      </mat-card-content>
    </form>
    <div fxLayout="column" fxLayoutAlign="center center">
      <span class="mat-subheading-1 reset text-secondary">
        {{DICTIONARY.AUTH.NOT_ACCOUNT}}
      </span>
      <span class="pointer mat-subheading-1 text-secondary" [routerLink]="ROUTES.AUTH.REGISTER">
        {{DICTIONARY.AUTH.CREATE_ACCOUNT}}
      </span>
    </div>
  </mat-card>
</div>
