$dialogPadding: 20px;

.dialog {

  .dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: $dialogPadding;
  }

  .mat-dialog-title {
    padding: 0px;
    margin: 0px
  }

  .mat-dialog-content {
    padding: $dialogPadding !important;
    margin: 0px !important;
  }

  .mat-dialog-actions {
    padding: 0px $dialogPadding 0px 0px !important;
    margin: 0px !important;
  }
}
