$dialogPadding: 20px;

.dialog {
  &.transactions {
    max-width: 400px;
  }
  min-width: 280px !important;

  .dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: $dialogPadding;

    &.dialog__header--confirmation {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }

  .mat-dialog-title {
    padding: 0px;
    margin: 0px;
  }

  .mat-dialog-content {
    padding: $dialogPadding !important;
    margin: 0px !important;
  }

  .mat-dialog-actions {
    padding: 0px $dialogPadding 10px 0px !important;
    margin: 0px !important;
  }
}
