.sidenav {
  width: 250px;
  background-color: $background;
  border: none !important;

  .sidenav__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    span {
      font-weight: bold;
      font-size: 3em;
      color: mat-color($primary) !important;
    }
  }

  .sidenav__routes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mat-tree-node {
      background-color: orange;

      &[aria-level="1"] {
        .sidenav__routes__route {
          justify-content: center !important;

          &.active {
            box-shadow: none !important;
            font-weight: 500;
          }

          &:hover {
            transition: all .1s ease-in-out;
            background-color: rgba(0, 0, 0, 0.04) !important;
          }
        }
      }

      .sidenav__routes__route {
        border-radius: 9999px;
        padding: 0px 1.5rem 0px 1.5rem;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        outline: none;
        cursor: pointer;
        transition: all 500ms cubic-bezier(0.35, 0, 0.25, 1);
        margin-bottom: 5px;

        &:hover {
          background-color: white;
        }

        &.active {
          background-color: white;
          box-shadow: 0px 3px 5px -1px rgba(82, 63, 104, 0.06), 0px 6px 10px 0px rgba(82, 63, 104, 0.042),
            0px 1px 18px 0px rgba(82, 63, 104, 0.036);
        }
      }
    }
  }
}

.sidenav-container {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav-content {
    background-color: $background !important;
  }
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.1);
}

.mat-tree {
  background-color: transparent !important;
  width: 90%;

}

.mat-tree-node {
  padding: 5px !important;
  min-height: 50px;
  background-color: transparent !important;
  width: 100%;
}
