.toolbar {
  margin-top: 20px;
  background-color: $background !important;

  .toolbar__userBtn {
    span {
      margin-right: 10px;
      font-weight: 500;
      color: black;
      font-size: 16px;
      text-transform: capitalize;
    }
  }

  .toolbar__title {
    span {
      font-weight: bold;
      font-size: 2em;
      color: mat-color($primary) !important;
    }
  }

  &.toolbar--menu {
    background-color: white !important;
    color: $text-secondary;

    .active {
      background-color: mat-color($primary);
      color: white;
    }
  }
}


.toolbar__userMenu {
  .toolbar__userMenu__header {
    width: 250px;
    height: 60px;
    padding: 10px;
    background-color: mat-color($primary, 500);
    color: white;
    display: flex;
    text-transform: capitalize;

    .mat-icon {
      font-size: 2.5em;
      margin-right: 10px;
      width: auto !important;
      height: auto !important;
    }
  }

  .toolbar__userMenu__content {
    padding: 10px;
    background-color: white;

    .toolbar__userMenu__content__item {
      cursor: pointer;
    }
  }

  .toolbar__userMenu__footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: #ebebee;
  }
}
