.analytics {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  .indicators {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    mat-card {
      height: 200px !important;
      margin: 0px !important;
      padding: 0px !important;
      mat-card-content {
        height: 100%;
      }
    }

    .text-entry,
    .text-expense {
      font-size: 1.3em;
    }
  }

  .two-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    .mat-card {
      max-height: 500px;
    }
  }
}
