<mat-card class="todo-table" *ngIf="config">

  <div class="todo-table__header">

    <div class="todo-table__header__left">

      <div class="todo-table__header__title">
        <span>
          {{config.name}}
        </span>
        <mat-divider [vertical]="true"></mat-divider>
      </div>

      <div class="todo-table__header__search">
        <div class="todo-table__header__search__icon">
          <mat-icon>search</mat-icon>
        </div>
        <div class="todo-table__header__search__btn">
          <input #input placeholder="Buscar" (keyup)="applyFilter($event)">
        </div>

      </div>

    </div>

    <div class="todo-table__header__right">
      <div class="todo-table__header__search__actionButtons">
        <button mat-icon-button *ngIf="config.reload" (click)="reload()">
          <mat-icon>restore</mat-icon>
        </button>
        <button mat-mini-fab *ngIf="config.createComponent" color="primary" (click)="create()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

  </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>
        {{(column !== 'actions' ? column: " ") | uppercase }}
      </th>
      <td @fadeUp mat-cell *matCellDef="let element" (click)="detail(element)">
        <div *ngIf="column === 'actions'"></div>
        {{column !== 'actions' ? element[column]: " "}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="table__table__notFound" *ngIf="(dataSource.data.length === 0) || (dataSource.filteredData.length === 0)">
    <span>No se encontró información</span>
  </div>


  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>
